body {
  margin: 0px;
  padding: 0px;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100px;
  justify-content: space-between;
  color: #7C6A0A;
  padding: 15px;
}
nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  color: #7C6A0A;
  padding-left: 40px;
  padding-right: 40px;
}
article .impact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
  gap: 25px;
}
article h1 {
  font-size: 3em;
  padding: 0px;
  margin: 0px;
}
article p {
  font-size: 1.5em;
}
article button {
  background: none;
  border-style: none;
}
article button {
  width: 12vw;
  padding: 20px;
  background-color: #FA9500;
  border-radius: 35px;
  color: white;
  font-size: 1em;
}
article button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
article img {
  width: 25vw;
  border-radius: 19px;
}

section {
  width: auto;
  height: auto;
  padding: 40px;
}
section h2 {
  color: #7C6A0A;
  font-size: 2em;
}

.healthcare, .furniture {
  padding-bottom: 60px;
}
.healthcare h2, .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
.healthcare .card-section, .furniture .card-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  row-gap: 80px;
}
.healthcare .card-product, .furniture .card-product {
  width: 14vw;
  height: 46vh;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 8px;
}
.healthcare .card-product .icon, .furniture .card-product .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 12px;
}
.healthcare .card-product .icon svg, .furniture .card-product .icon svg {
  width: 28px;
  height: 28px;
}
.healthcare .card-product .product-image, .furniture .card-product .product-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.healthcare .card-product .product-image img, .furniture .card-product .product-image img {
  width: 12vw;
  height: 30vh;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.furniture .card-product {
  background-color: #BABD8D;
  color: white;
}

.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.about-us .mision-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-us .mision-section .earth, .about-us .mision-section .innovation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  gap: 40px;
  color: #E86424;
}
.about-us .mision-section .earth img, .about-us .mision-section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .mision-section .earth p, .about-us .mision-section .innovation p {
  text-align: center;
  font-size: 1.5em;
}
.gallery h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.gallery .gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery .gallery-images img {
  width: 28vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
  border-radius: 16px;
}
.gallery .gallery-images img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.location {
  color: #E86424;
}
.location h2 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.location .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}
.location h3, .location p {
  font-size: 1.5em;
}

footer {
  width: 100%;
  height: auto;
  background-color: #FA9500;
  color: white;
  padding: 40px;
}
footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}